<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Encontrar um tutor</title>
    <link href="../static/encontrarumtutor.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <h1></h1>
    </header>

    <main>
        <div class="retangulo-barra-de-busca">
            <button class="botao-listrado"></button>
            
            <input type="text" class="conteudo-buscado" placeholder="Pesquisar...">
            <button class="botao-busca">Buscar</button>
            
        </div>

        <div class="rectangle">
            <div class="smaller-rectangle">
                <div class="text">Painel do Aluno</div>
            </div>
            <button class="minhas-aulas">Minhas Aulas</button>
            <button class="postagem-tutores">postagem Tutores</button>

        </div>
    </main>

    <script src="script.js"></script>
</body>

</html>